@import '../../../scssHelpers';
.ServiceCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: $column-gap;
  @include for-mobile {
    grid-template-columns: 1fr;
  }
}
