// BREAK-POINTS
$desktop-max-break-point: 1440px;
$tablet-max-break-point: 950px;
$mobile-max-break-point: 700px;
$small-desktop-max-break-point: 1400px;

@mixin for-big-desktop {
  @media only screen and (min-width: $desktop-max-break-point) {
    @content;
  }
}
@mixin for-1400 {
  @media (min-width: $tablet-max-break-point) and (max-width: $small-desktop-max-break-point) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: $mobile-max-break-point) and (max-width: $tablet-max-break-point) {
    @content;
  }
}
@mixin for-mobile {
  @media only screen and (max-width: $mobile-max-break-point) {
    @content;
  }
}
@mixin for-tablet-and-mobile {
  @media (max-width: $tablet-max-break-point) {
    @content;
  }
}
@mixin for-small-screen {
  @media only screen and (max-width: 450px) {
    @content;
  }
}
